<div class="wpd-menu">
    <div class="wpd-menu-header">{{ _("File") }}</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li onclick="wpd.popup.show('loadNewImage');">{{ _("Load Image(s)") }}</li>
            <li onclick="wpd.saveResume.load();">{{ _("Load Project") }}</li>
            <li onclick="wpd.saveResume.save();">{{ _("Save Project") }}</li>
            <li onclick="wpd.scriptInjector.start();">{{ _("Run Script") }}</li>
        </ul>
    </div>
</div>
{% if enableTesting == True %}
<button onclick="wpdtests.runTests();">Run Tests</button>
{% endif %}
