<!-- axes calibration -->
<div id="axes-calibration-sidebar" class="sidebar">
    <p class="sidebar-title">{{ _("Axes Calibration") }}</p>
    <p align="center"><input type="button" value="{{ _("Complete!") }}" style="width: 120px;" onclick="wpd.alignAxes.getCornerValues();" /></p>
</div>

<!-- acquire data -->
<div id="acquireDataSidebar" class="sidebar">
    <p class="sidebar-title">{{ _("Manual Extraction") }}</p>
    <p>
        <input type="button" value="{{ _("Add Point") }} (A)" onclick="wpd.acquireData.manualSelection();" style="width:115px;" id="manual-select-button">
        <input type="button" value="{{ _("Delete Point") }} (D)" onclick="wpd.acquireData.deletePoint();" style="width: 115px;" id="delete-point-button">
    </p>
    <br />
    <p class="sidebar-title">{{ _("Automatic Extraction") }}</p>
  
    <hr />
    <p>{{ _("Color") }} <select id="color-detection-mode-select" onchange="wpd.colorPicker.changeDetectionMode();">
            <option value="fg">{{ _("Foreground Color") }}</option>
            <option value="bg">{{ _("Background Color") }}</option>
        </select><input type="button" id="color-button" value=" " onclick="wpd.colorPicker.startPicker();" style="width: 25px;" title="{{ _("Click to change color") }}" /></p>
    <p>{{ _("Distance") }} <input type="text" size="3" id="color-distance-value" onchange="wpd.colorPicker.changeColorDistance();" />
    </p>
    <hr />
    <p>{{ _("Algorithm") }}
        <select id="auto-extract-algo-name" onchange="wpd.algoManager.applyAlgoSelection();"></select>
    </p>
    <div id="algo-parameter-container" style="margin-left: 10px; margin-top: 5px;"></div>
    <p style="margin-top: 5px;">
        <input type="button" value="{{ _("Run") }}" style="width:40px;" onclick="wpd.algoManager.run();" />
    </p>
</div>
